version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: saturday
      time: "09:00"
      timezone: America/New_York
    groups:
      minor-and-patch:
        update-types:
          - minor
          - patch
